.tech ul{
    display: flex;
    flex-wrap: wrap;
}
.tech li{
    padding: 4px;
    margin: 0px 2px 5px;
    background-color: #d7c1ff;
    border-radius: 2px;
    font-size: 13px;
    line-height: 1;
    color:#fff;
    
}
.p_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
}
.p_wrap section{
    width: 70%;
}
h1{
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 300;
}
.p_wrap ul{
    display: flex;
    
}
.box_wrap{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.box_wrap > li{
    width: 49%;
    min-height: 30rem;
    margin-bottom: 2%;
    position: relative;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box_wrap > li > div{
    height: 100%;
    padding: 20px;
    pointer-events: none;
    border: 1px solid rgb(215, 193, 255, .4);
    box-sizing: border-box;
    position: relative;
}
.info_wrap{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.name{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    color: rgb(157 134 197);
    margin-bottom: 2rem;
    padding-right: 3rem;
}
.day{
    font-size: 14px;
}
.desc{
    padding:1.5rem 0 1rem;
    font-size: 14px;
}
.label{
    display: block;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
}