:global .dark{
    background-color: #1f1f1f;
    color: #f8f8f8;
    transition: all .4s;
}
:global .dark p,
:global .dark a,
:global .dark li{
  color: #f8f8f8;
  transition: all .4s;
}
:global .light{
    background-color: transparent;
    transition: all .4s;

}
:global .github{
  width: 35px;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
:global .github img{
  width:100%;
  height:100%;
}